.TechsPage {
    height: 450px;
    text-align: left;
}

.tech-logo {
    height: 120px;
    position: fixed;
}

.tech-logo:hover {
    animation: Tech-logo-spin infinite 20s linear;
}

/* ANIMATIONS */
@keyframes Tech-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}